# Object files
*.o

# Libraries
*.lib
*.a

# Dependencies
*.d
*.depend

# Shared objects
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
assignment-3/task-3/rssfs
assignment-3/task-1/testfs

# OS X
.DS_STORE
a.out.dSYM
